.nav {
  display: block;
  position: relative;
}

.nav::after {
  content: '';
  background-image: url(../assets/img/text-marmer.png);
  background-repeat: no-repeat;
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.promo {
  display: block;
  position: relative;
}

.promo::after {
  content: '';
  background-image: url(../assets/img/text-bricks.png);
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.footer {
  display: block;
  position: relative;
}

.footer::after {
  content: '';
  background-image: url(../assets/img/text-marmer.png);
  background-repeat: repeat-y;
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
