.background__img {
  position: relative;
}

.background__img::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.nav::after {
  background-image: url(../assets/img/text-marmer.png);
  opacity: .3;

  @media (--only-large-screen) {
    background-repeat: repeat;
  }
}

.content--horizontal::after {
  background-image: url(../assets/img/text-wood.png);
  background-repeat: repeat;
  opacity: .12;
}

.promo::after {
  background-image: url(../assets/img/text-bricks.png);
  opacity: .12;
}

.promo__content--big::after {
  @media (--only-big-screen) {
    background-image: url(../assets/img/text-bricks.png);
    opacity: .2;
    border-radius: 100%;
    padding: calc(var(--marginLarge) * 2);
  }
}

.footer::after {
  content: '';
  background-image: url(../assets/img/text-marmer.png);
  background-repeat: repeat;
  opacity: .3;
}
