.background__img {
  position: relative;
}

.background__img::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.nav::after {
  background-image: url(../assets/img/text-marmer.png);
  opacity: .3;

  @media (--only-large-screen) {
    background-repeat: repeat;
  }
}
