html {
  box-sizing: inherit;
  font-size: 62.5%;
}

"*",
"*:before",
"*:after" {
  box-sizing: border-box;
}

body {
  background-color: var(--colorGray);
  font-family: var(--fontSofia);
  font-weight: var(--weightBody);
  font-size: var(--sizeBody);
  line-height: calc(var(--sizeBody) * 1.2);

  @media (--only-large-screen) {
    margin: 0 auto;
  }
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}
