html {
  box-sizing: inherit;
  font-size: 62.5%;
}

"*",
"*:before",
"*:after" {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.horizontal__grid {
  @media (--only-large-screen) {
    display: grid;
    grid-template-columns: 100vw;
  }
}
