/* CTA */

.cta__container {
  margin-bottom: var(--marginLarge$);
  margin-top: var(--marginLarge);
}

.cta {
  text-decoration: none;
  font-weight: var(--weightCta);
  font-size: var(--sizeBody);
  border-radius: 5rem;
  padding: var(--marginMobile);
  color: white;
  box-shadow: 0 10px 6px -6px black;

  @media (--only-large-screen) {
    padding: var(--marginSmall);
  }
}

.cta--secondary {
  background-color: var(--colorPurple);

  @media (--only-big-screen) {
    font-size: var(--sizeCta);
  }
}

.cta--primary {
  background-color: var(--colorYellow);

  @media (--only-big-screen) {
    font-size: var(--sizeCta);
  }
}

.cta--regular {
  background-color: var(--colorDark);
}

/* HEADER */

.circ__wrapper {
  border: .2rem solid var(--colorRed);
  border-radius: 100%;
  width: max-content;
}

.circ {
  text-align: center;
  -ms-transform-origin-x: 30deg;
}

.title {
  font-family: var(--fontHavre);
  font-size: var(--sizeMobile);
  font-weight: var(--weightBlack);
  line-height: calc(var(--sizeMobile) * 1.2);

  @media (--only-small-screen) {
    font-size: calc(var(--sizeSubtitle) * 1.5);
    line-height: calc(var(--sizeSubtitle) * 1.7);
  }

  @media (--only-medium-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
    line-height: calc(var(--sizeSubtitle) * 2.2);
  }

  @media (--only-large-screen) {
    font-size: var(--sizeTitle);
    line-height: calc(var(--sizeTitle) * 1.2);
    margin-top: 0;
  }
}

.subtitle {
  color: var(--colorDark);
  font-family: var(--fontHavre);
  font-weight: var(--weightBold);
  font-size: var(--sizeMobile);
  line-height: calc(var(--sizeMobile) * 1.2);
  text-align: right;

  @media (--only-small-screen) {
    font-size: var(--sizeSubtitle);
    line-height: calc(var(--sizeSubtitle) * 1.2);
  }

  @media (--only-medium-screen) {
    font-size: calc(var(--sizeSubtitle) * 1.5);
    line-height: calc(var(--sizeSubtitle) * 1.7);
  }

  @media (--only-large-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
    line-height: calc(var(--sizeSubtitle) * 2.2);
  }
}

/* PROMO */

.content--circ {
  font-size: var(--sizePromo);
  line-height: calc(var(--sizePromo) * 1.2);
  text-align: center;
  display: block;
  width: 25rem;
  height: auto;
  border-radius: 100%;
  border: .5rem solid var(--colorRed);
  padding: var(--marginLarge);
  box-shadow: 3px 3px 5px 6px #ccc;
}

.promo__final {
  box-shadow: none;
}

.promo--rect {
  border-top: .5rem solid var(--colorRed);
  border-bottom: .5rem solid var(--colorRed);
  display: block;

  @media (--only-big-screen) {
    display: none;
  }
}

.content--rect {
  font-size: var(--sizePromo);
  line-height: calc(var(--sizePromo) * 1.2);
  text-align: center;
  padding: 0 var(--marginRegular);

  @media (--only-medium-screen) {
    font-size: var(--sizeMobile);
    line-height: calc(var(--sizeMobile) * 1.2);
  }
}

.promo__content span {
  color: var(--colorRed);
}

/* CONTENT */

.content__title {
  color: var(--colorPurple);
  font-family: var(--fontHavre);
  font-weight: var(--weightBold);
  font-size: var(--sizeMobile);
  line-height: calc(var(--sizeMobile) * 1.2);

  @media (--only-large-screen) {
    font-size: var(--sizeSubtitle);
    line-height: calc(var(--sizeSubtitle) * 1.2);
  }
}

/* HORIZONTAL */

.title--extra {
  font-family: var(--fontShaded);
  font-weight: var(--weightHighlight);
  color: var(--colorRed);
  font-size: var(--sizeSubtitle);
  text-align: center;

  @media (--only-small-screen) {
    font-size: calc(var(--sizeSubtitle) * 1.5);
  }

  @media (--only-big-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
  }

  @media (--only-large-screen) {
    font-size: var(--sizeTitle);
  }
}

.horizontal__title {
  font-family: var(--fontSofia);
  font-weight: var(--weightHighlight);
  font-size: var(--sizeMobile);
  line-height: calc(var(--sizeMobile) * 1.2);
  color: var(--colorRed);

  @media (--only-medium-screen) {
    font-size: var(--sizeSubtitle);
    line-height: calc(var(--sizeSubtitle) * 1.2);
  }

  @media (--only-large-screen) {
    font-size: calc(var(--sizeSubtitle) * 1.5);
    line-height: calc(var(--sizeSubtitle) * 1.7);
  }
}

.horizontal--left span {
  text-decoration: line-through;
  padding-right: var(--marginSmall);
  color: var(--colorBlack);
}

.horizontal--right span {
  opacity: 0;
}

.horizontal--right {
  position: relative;
  top: -4rem;

  @media (--only-large-screen) {
    position: relative;
    top: -6rem;
  }
}

.horizontal--pos {
  @media (--only-large-screen) {
    position: relative;
    top: -10rem;
  }
}

/* FOOTER */

.footer__line {
  background-color: var(--colorYellow);
  font-family: var(--fontSofia);
  font-weight: var(--weightHighlight);
  font-size: var(--sizeBody);
  text-align: center;

  @media (--only-big-screen) {
    font-size: var(--sizePromo);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.caps {
  text-transform: uppercase;
  padding-top: var(--marginSmall);
  padding-bottom: 0;

  @media (--only-big-screen) {
    padding: 0;
  }
}

.line__info {
  padding-bottom: var(--marginSmall);

  @media (--only-big-screen) {
    padding: 0;
  }
}

.maker__title {
  font-family: var(--fontHavre);
  font-weight: var(--weightBlack);
  font-size: var(--sizeMobile);
  color: var(--colorPurple);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginSmall);

  @media (--only-big-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
    line-height: calc(var(--sizeSubtitle) * 2.2);
    margin-bottom: var(--marginRegular);
  }
}

.maker__content {
  font-family: var(--fontSofia);
  font-weight: var(--weightHighlight);
  font-size: var(--sizeBody);
  line-height: calc(var(--sizeBody) * 1.2);
  margin-bottom: var(--marginLarge);

  @media (--only-big-screen) {
    font-size: var(--sizePromo);
    line-height: calc(var(--sizePromo) * 1.2);
    margin-bottom: unset;
    margin-top: unset;
  }

  @media (--only-large-screen) {
    font-size: var(--sizePromo);
    width: 50vw;
  }
}

.subtitle--abbo {
  line-height: calc(var(--sizeSubtitle) * 1.2);
}

.abbo__email {
  font-family: var(--fontHighlight);
  padding: var(--marginSmall);
  border: .5rem var(--colorRed) solid;
  margin: unset;
  opacity: .7;

  @media (--only-large-screen) {
    padding-right: calc(var(--marginRegular) * 3);
    place-self: center;
  }
}

.abbo__cta {
  font-size: var(--sizeBody);
  text-align: center;
}

.social {
  margin-bottom: var(--marginLarge);
}

.social__icon {
  width: 2rem;
  height: 2rem;
  padding: var(--marginMobile);
  border: var(--colorRed) solid .2rem;
  border-radius: 100%;

  @media (--only-big-screen) {
    padding: var(--marginSmall);
    border: var(--colorRed) solid .2rem;
  }
}

.social__img {
  width: 100%;
  height: auto;
  text-align: center;
}

.social--pos {
  position: relative;
  top: .5rem;
}

.social--fb {
  position: relative;
  top: -.7rem;

  @media (--only-big-screen) {
    width: 1.5rem;
    height: auto;
  }
}

/* TUTORIAL */

.back__button {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: calc(var(--sizeMobile) / 3);
  /* position: fixed; */
  background-color: var(--colorGray);
  width: 100vw;
  z-index: -1;
}

.back__button span {
  color: var(--colorRed);
  font-size: var(--sizeMobile);
  position: relative;
  top: .7rem;
  padding-right: calc(var(--marginSmall) / 2.5);
}

.cta--build {
  font-size: var(--sizeBody);
  border: none;
}

.item__top {
  position: relative;
  top: -2rem;

  @media (--only-large-screen) {
    top: -1rem;
  }
}

.tut__icon {
  width: 50%;
  height: auto;

  @media (--only-medium-screen) {
    width: unset;
    height: unset;
  }
}

.img__width {
  width: 80%;
  height: auto;

  @media (--only-small-screen) {
    width: 68%;
  }

  @media (--only-medium-screen) {
    width: 60%;
  }
}

.img__step-two {
  width: 60%;
  height: auto;

  @media (--only-small-screen) {
    width: 40%;
  }
}

.purple {
  padding: var(--marginRegular) 0;
  margin: 0 var(--marginRegular);
  border-bottom: .5rem solid var(--colorPurple);
}

.yellow {
  padding: var(--marginRegular) 0;
  margin: 0 var(--marginRegular);
  border-bottom: .5rem solid var(--colorYellow);
}

.steps__question {
  margin: var(--marginSmall) var(--marginLarge);

  @media (--only-large-screen) {
    padding-right: var(--marginLarge);
  }
}

.question {
  font-weight: var(--weightCta);
  font-size: var(--sizePromo);
  line-height: calc(var(--sizePromo) * 1.2);
  text-align: center;
  justify-content: center;
}

.answer {
  font-weight: var(--weightBold);
  padding: var(--marginSmall) var(--marginMobile);
  width: 40vw;
  border-radius: 12rem;
  border: .2rem solid white;
  box-shadow: 0 8px 6px -6px black;
  color: white;
  max-width: 15rem;
}

.question__answers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @media (--only-large-screen) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

.btn__prev {
  background-color: var(--colorPurple);
}

.btn__next {
  background-color: var(--colorYellow);

  @media (--only-large-screen) {
    margin-bottom: var(--marginMobile);
  }
}

.tut__final {
  background-color: var(--colorYellow);
  padding: var(--marginLarge);
  padding-bottom: calc(var(--marginLarge) * 2);
  margin-top: calc(var(--marginLarge) * 2);
}

.final__title {
  font-size: var(--sizeMobile);
  color: var(--colorPurple);

  @media (--only-medium-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
  }
}

.final__text {
  color: white;

  @media (--only-medium-screen) {
    font-size: var(--sizeMobile);
    line-height: calc(var(--sizeMobile) * 1.2);
  }
}
