@font-face {
  font-family: HavreBlack;
  src:
    url(../assets/fonts/le-havre/le-havre-black.woff2) format('woff2'),
    url(../assets/fonts/le-havre/le-havre-black.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HavreBold;
  src:
    url(../assets/fonts/le-havre/le-havre-bold.woff2) format('woff2'),
    url(../assets/fonts/le-havre/le-havre-bold.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SofiaLight;
  src:
    url(../assets/fonts/sofia-pro/sofia-pro-light.woff2) format('woff2'),
    url(../assets/fonts/sofia-pro/sofia-pro-light.woff) format('woff');
  font-weight: 3150;
  font-style: normal;
}

@font-face {
  font-family: SofiaUltra;
  src:
    url(../assets/fonts/sofia-pro/sofia-pro-ultralight.woff2) format('woff2'),
    url(../assets/fonts/sofia-pro/sofia-pro-ultralight.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}
