@font-face {
  font-family: HavreBlack;
  src:
    url(../assets/fonts/HavreBlack.woff2) format('woff2'),
    url(../assets/fonts/HavreBlack.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HavreBold;
  src:
    url(../assets/fonts/HavreBold.woff2) format('woff2'),
    url(../assets/fonts/HavreBold.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SofiaLight;
  src:
    url(../assets/fonts/SofiaLight.woff2) format('woff2'),
    url(../assets/fonts/SofiaLight.woff) format('woff');
  font-weight: 150;
  font-style: normal;
}

@font-face {
  font-family: SofiaUltra;
  src:
    url(../assets/fonts/SofiaUltra.woff2) format('woff2'),
    url(../assets/fonts/SofiaUltra.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}
