.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.nav__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.home {
  display: grid;
  grid-template-columns: 1;
  margin: 0 auto;
}

.content {
  margin: var(--marginRegular);
}

.content__alinea {
  margin: calc(var(--marginRegular) * 1.5);
}

.cta__container {
  margin: var(--marginLarge);
  margin-bottom: calc(var(--marginLarge) * 1.3);
  margin-top: calc(var(--marginLarg) * 1.3);
}
