/* NAV */

.cta--secondary {
  visibility: hidden;
  margin-right: var(--marginSmall);

  @media (--only-small-screen) {
    visibility: visible;
  }
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  margin-left: var(--marginLarge);
}

.buttons__wrapper {
  justify-content: flex-end;
  margin-right: var(--marginLarge);
}

.nav__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

/* HEADER */

.header__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.header__img {
  overflow: hidden;
}

.header__subtitle {
  align-self: center;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: auto;
}

.content__item {
  margin: calc(var(--marginLarge) * 5);

  @media (--only-small-screen) {
    margin: calc(var(--marginLarge) * 3);
  }
}

.content__part-one {
  @media (--only-small-screen) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 40%;
    margin-left: 0;
  }
}

.what__picture {
  display: none;

  @media (--only-small-screen) {
    display: block;
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  @media (--only-big-screen) {
    position: relative;
    top: -28rem;
  }
}

.what__picture img {
  width: 50%;
  height: auto;
}

.text__part-one {
  @media (--only-small-screen) {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.content__part-three {
  @media (--only-big-screen) {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
  }
}

.content--picture {
  @media (--only-big-screen) {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

.content--picture img {
  @media (--only-big-screen) {
    width: 90%;
    height: auto;
  }
}

.content--text {
  @media (--only-big-screen) {
    grid-column: 1;
    grid-row: 1;
    margin: calc(var(--marginLarge) * 2);
  }
}

/* PROMO */

.content--reverse {
  @media (--only-big-screen) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.promo {
  margin-bottom: calc(var(--marginLarge) * 4);
  margin-top: calc(var(--marginLarge) * 4);
  padding: calc(var(--marginLarge) * 4);
  overflow: hidden;

  @media (--only-small-screen) {
    margin-top: calc(var(--marginLarge) * 3);
    padding: calc(var(--marginLarge) * 1.5);
  }
}

.promo--first {
  @media (--only-big-screen) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: unset;
    padding: unset;
  }
}

/* FOOTER*/

.info {
  @media (--only-big-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.info__abbo {
  display: none;

  @media (--only-big-screen) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 8rem;
    margin-right: var(--marginLarge);
  }

  @media (--only-large-screen) {
    width: 50vw;
    padding-left: var(--marginLarge);
  }
}

.abbo__input {
  @media (--only-big-screen) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (--only-large-screen) {
    display: flex;
    flex-direction: row;
    justify-content: unset;
  }
}

.abbo__email {
  @media (--only-large-screen) {
    margin-right: calc(var(--marginLarge) * 2);
  }
}

.social__wrapper {
  display: flex;
  flex-direction: row;
}

.social__icon {
  margin-left: var(--marginLarge);
}

.social__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sponsors {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--marginSmall);

  @media (--only-large-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.sponsors__img {
  place-self: center;
}

.sponsors--last {
  grid-column: 2;
}
