/* NAV */

.cta--secondary {
  display: none;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__logo {
  margin-left: var(--marginLarge);
}

.nav__item {
  list-style-type: none;
}

.buttons__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

/* HEADER */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 3;
}

.header__subtitle {
  align-self: center;
}

/* CONTENT */

.content {
  margin: calc(var(--marginLarge) * 5);
  grid-template-columns: auto;
}

.what__picture {
  display: none;
}

.cta__container {
  margin-bottom: calc(var(--marginLarge) * 1.5);
  margin-top: calc(var(--marginLarge) * 1.5);
}

/* HORIZONTAL

.horizontal__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 80vw);
}*/

/* PROMO */

.promo {
  margin-bottom: calc(var(--marginLarge) * 4);
  margin-top: calc(var(--marginLarge) * 4);
}

/* FOOTER*/

.info__abbo {
  display: none;
}

.social__icon {
  margin-left: var(--marginLarge);
}

.sponsors {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--marginSmall);
}

.sponsors__img {
  place-self: center;
}

.sponsors--last {
  grid-column: 2;
}
