input, label {
  display: block;
}

label {
  margin-bottom: var(--marginSmall);
  font-weight: var(--weightBold);

  @media (--only-big-screen) {
    font-size: var(--sizePromo);
    font-weight: var(--weightRegular);
  }
}

input[type=text] {
  outline: none;
  background-color: var(--lightGray);
  border: .1rem solid var(--colorDark);
  padding: calc(var(--marginSmall) / 2);
}

input[type=email] {
  outline: none;
  background-color: var(--lightGray);
  border: .1rem solid var(--colorDark);
  padding: calc(var(--marginSmall) / 2);
}

input[type=number] {
  outline: none;
  background-color: var(--lightGray);
  border: .1rem solid var(--colorDark);
  padding: calc(var(--marginSmall) / 2);
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: var(--colorRed);
}

.form fieldset {
  margin-bottom: var(--marginLarge);
  border: none;
}

.checkbox__label {
  font-size: var(--sizeBody);
  font-weight: var(--weightBody);

  @media (--only-large-screen) {
    font-size: var(--sizePromo);
    line-height: calc(var(--sizePromo) * 1.2);
  }
}

.checkbox__item {
  display: flex;
}

.gegevens__input {
  @media (--only-medium-screen) {
    margin: 0 var(--marginLarge);
  }

  @media (--only-large-screen) {
    margin-right: calc(var(--marginLarge) * 5);
  }
}

.margin {
  margin-bottom: var(--marginSmall);

  @media (--only-medium-screen) {
    margin-bottom: 0;
  }
}

.form__field {
  margin: 0 var(--marginSmall);
  margin-bottom: var(--marginRegular);
}

.field__dubbel {
  @media (--only-medium-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.form__subtitle {
  margin-bottom: var(--marginRegular);
}

.form__checkboxes-list {
  display: grid;
  grid-template-columns: 2;
}

.unseen {
  opacity: 0;
}

.unseen:checked + img {
  border: .3rem solid var(--colorRed);
}

.form__buttons {
  margin-top: var(--marginLarge);
  display: flex;
  justify-content: space-between;
}

.form__help {
  font-weight: var(--weightHightlight);
  font-size: var(--sizeBody);
  margin-bottom: var(--marginLarge);
  border-bottom: .1rem solid var(--colorRed);
  padding-bottom: var(--marginSmall);
}

.form__btn {
  font-weight: var(--weightBold);
  padding: var(--marginSmall) var(--marginMobile);
  border-radius: 12rem;
  border: .2rem solid white;
  box-shadow: 0 8px 6px -6px black;
  color: white;
  margin: 0;
}

.btn__mobile {
  @media (--only-medium-screen) {
    display: none;
  }
}

.btn__desktop {
  display: none;

  @media (--only-medium-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.align {
  text-align: center;
}

.payment__wrapper {
  @media (--only-medium-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.building__box {
  text-align: center;
}

.box__wrapper {
  @media (--only-big-screen) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.dropzone {
  width: 40vw;
  height: 10rem;

  background-color: var(--colorRed);
  border: .4rem dashed var(--colorDark);
  border-radius: .4rem;
  margin: var(--marginLarge);
  padding: var(--marginSmall);
  transition: background-color .3s;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em .5em;
  margin: 1rem 0 0 1rem;
  touch-action: none;

  transition: background-color .3s;
}

.drop-active {
  border-color: var(--colorPurple);
  color: white;
  background-color: var(--colorYellow);
}

.drop-target {
  background-color: var(--colorPurple);
  border-color: var(--colorYellow);
  border-style: solid;
}
