.back {
  margin: 0 var(--marginSmall);
  margin-bottom: var(--marginMobile);
}

.tut__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 var(--marginSmall);
}

.tut__title {
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 0;
}

.tut__subtitle {
  grid-column: 2;
  margin-top: 0;
  font-size: calc(var(--sizeMobile) / 2);
  text-align: left;

  @media (--only-small-screen) {
    font-size: var(--sizeMobile);
  }

  @media (--only-big-screen) {
    font-size: var(--sizeSubtitle);
  }
}

.tut__info {
  display: grid;

  @media (--only-big-screen) {
    grid-template-rows: 50rem 1fr;
  }
}

.slider--big {
  grid-row: 1;
  justify-self: center;
}

.info__build {
  margin-top: var(--marginSmall);
  grid-row: 2;
  grid-column: 1;

  @media (--only-big-screen) {
    margin: 0 auto;
    width: 40vw;
  }
}

.build__cta {
  margin-top: var(--marginLarge);
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-row: 2;

  @media (--only-medium-screen) {
    flex-direction: row;
  }

  @media (--only-big-screen) {
    width: max-content;
  }
}

.list__item {
  margin-bottom: var(--marginLarge);

  @media (--only-medium-screen) {
    margin-right: var(--marginRegular);
  }
}

.steps {
  display: grid;
  grid-template-columns: 20% 20% 1fr;
  grid-template-rows: 20rem 10rem auto;
  margin-bottom: var(--marginLarge);
  min-height: 100vh;

  @media (--only-medium-screen) {
    grid-template-rows: 10% 7rem auto;
    margin-left: var(--marginLarge);
  }

  @media (--only-large-screen) {
    padding: var(--marginLarge);
    grid-template-columns: 10rem 10rem 20rem;
    grid-template-rows: 20% 30% auto 1fr;
    grid-row-gap: 5rem;
  }
}

.steps__name {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (--only-medium-screen) {
    grid-row: 1 / span 3;
    justify-content: space-between;
  }

  @media (--only-large-screen) {
    grid-row: 1;
    grid-column: 1 / span 2;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 5rem;
    left: 10rem;
  }
}

.steps__title {
  transform: rotate(-90deg);
  width: max-content;
  margin: 0;
  position: relative;
  right: 5rem;

  @media (--only-small-screen) {
    font-size: var(--sizeSubtitle);
    position: relative;
    right: 5rem;
  }

  @media (--only-medium-screen) {
    right: unset;
    transform: rotate(0deg);
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  @media (--only-big-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
  }

  @media (--only-large-screen) {
    top: -10rem;
  }
}

.steps__icons {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (--only-medium-screen) {
    grid-row: 2;
    grid-column: 1 / span 2;
    flex-direction: row;
    padding: var(--marginSmall) 0;
  }

  @media (--only-large-screen) {
    grid-row: 1;
    grid-column: 1 / span 2;
    position: relative;
    top: 10rem;
  }
}

.tut__icon {
  @media (--only-large-screen) {
    width: 10rem;
    height: 10rem;
  }
}

.steps__img {
  grid-column: 3;

  @media (--only-medium-screen) {
    grid-row: 1 / span 3;
  }

  @media (--only-large-screen) {
    grid-row: 2;
    grid-column: 1 / span 3;
    place-self: flex-end;
    padding-right: cacl(var(--marginLarge) * 2);
  }
}

.img__zoom {
  transition: .3s;
  transform-origin: bottom center;
}

.img__zoom-top {
  transform-origin: top center;
}

.img__zoom:hover {
  transform: scale(1.5);

}

.step__img {
  @media (--only-big-screen) {
    position: relative;
    left: 15rem;
  }
}

.steps__instructions {
  grid-column: 1 / span 3;
  margin-bottom: var(--marginLarge);
  margin-top: 0;

  @media (--only-big-screen) {
    grid-column: 2 / span 3;
  }

  @media (--only-large-screen) {
    grid-column: 1 / span 3;
  }
}

.steps__question {
  grid-column: 1 / span 3;
  margin-top: 0;

  @media (--only-large-screen) {
    grid-row: 5;
    grid-column: 1;
    width: 20vw;
    align-items: end;
  }
}

/* BETWEEN */

.steps__between {
  display: grid;
  grid-template-columns: 15% 20% 1fr;
  grid-template-rows: 10% 5rem auto;
  margin-bottom: var(--marginLarge);

  @media (--only-large-screen) {
    padding: var(--marginLarge);
    grid-template-columns: 10rem 10rem 20rem;
    grid-template-rows: 20% 30% auto 1fr;
    grid-row-gap: 5rem;
  }
}

.img__fase-a {
  @media (--only-large-screen) {
    grid-column: 2;
  }
}

.instructions-a {
  position: relative;
  top: 5rem;

  @media (--only-large-screen) {
    grid-row: 3;
  }
}

.img__fase-b {
  @media (--only-medium-screen) {
    grid-row: 5;
  }

  @media (--only-large-screen) {
    grid-column: 1 / span 3;
    grid-row: 4;
  }
}

.between__position {
  @media (--only-large-screen) {
    position: relative;
    top: -40rem;
  }
}

.instructions-b {
  @media (--only-large-screen) {
    grid-row: 5;
  }
}

.img__fase-c {
  @media (--only-medium-screen) {
    grid-row: 7;
  }

  @media (--only-large-screen) {
    grid-column: 1 / span 3;
    grid-row: 6;
  }
}

.instructions-c {
  @media (--only-large-screen) {
    grid-row: 7;
  }
}

.questions__step {
  @media (--only-large-screen) {
    grid-row: 8;
  }
}

.title__between {
  transform: rotate(-90deg);
  font-size: var(--sizeMobile);
  width: max-content;
  margin: 0;
  position: relative;
  right: 7rem;
  top: 7rem;

  @media (--only-small-screen) {
    position: relative;
    right: 8rem;
  }

  @media (--only-medium-screen) {
    right: unset;
    transform: rotate(0deg);
  }

  @media (--only-big-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
  }

  @media (--only-large-screen) {
    align-self: flex-end;
    top: 10rem;
    left: 10rem;
  }
}

.name__between {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--only-medium-screen) {
    grid-row: 1;
    grid-column: 1 / span 3;
    flex-direction: row;
  }

  @media (--only-large-screen) {
    grid-row: 1 / span 2;
    flex-direction: column-reverse;
  }
}

.number__between {
  position: relative;
  top: 10rem;

  @media (--only-large-screen) {
    top: 5rem;
  }
}

.icons__between {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (--only-medium-screen) {
    flex-direction: row;
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  @media (--only-large-screen) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}

.tut__between {
  position: relative;
  left: 3rem;

  @media (--only-medium-screen) {
    left: unset;
    top: 2rem;
  }

  @media (--only-large-screen) {
    top: 15rem;
    left: -5rem;
  }
}

.img__between {
  width: 80%;
  height: auto;
  place-self: end;

  @media (--only-big-screen) {
    position: relative;
    top: 15rem;
  }

  @media (--only-large-screen) {
    top: -15rem;
    left: -60rem;
    width: 30rem;
  }
}

.img__fase {
  @media (--only-large-screen) {
    width: 100%;
  }
}

.scroll__container {
  @media (--only-large-screen) {
    background-color: beige;
    margin: 0 auto;
    top: -3rem;
    left: 5rem;
    width: 100vh;
    height: calc(100vh);
    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: center calc(50vh);
  }
}

.scroll__child {
  @media (--only-large-screen) {
    transform: rotate(90deg);
  }
}
