.back {
  margin: 0 var(--marginSmall);
  margin-bottom: var(--marginMobile);
}

.tut__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 var(--marginSmall);
}

.tut__title {
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 0;
}

.tut__subtitle {
  grid-column: 2;
  margin-top: 0;
  font-size: calc(var(--sizeMobile) / 2);
  text-align: left;

  @media (--only-small-screen) {
    font-size: var(--sizeMobile);
  }

  @media (--only-big-screen) {
    font-size: var(--sizeSubtitle);
  }
}

.tut__info {
  display: grid;

  @media (--only-big-screen) {
    grid-template-rows: 50rem 1fr;
  }
}

.slider--big {
  grid-row: 1;
  justify-self: center;
}

.info__build {
  margin-top: var(--marginSmall);
  grid-row: 2;
  grid-column: 1;

  @media (--only-big-screen) {
    width: 40vw;
  }
}

.build__cta {
  margin-top: var(--marginLarge);
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-row: 2;

  @media (--only-medium-screen) {
    flex-direction: row;
  }

  @media (--only-big-screen) {
    width: max-content;
  }
}

.list__item {
  margin-bottom: var(--marginLarge);

  @media (--only-medium-screen) {
    margin-right: var(--marginRegular);
  }
}

.steps {
  display: grid;
  grid-template-columns: 20% 20% 1fr;
  grid-template-rows: 20rem 10rem auto;

  @media (--only-medium-screen) {
    grid-template-rows: 10% 7rem auto;
    margin-left: var(--marginLarge);
  }

  @media (--only-large-screen) {
    grid-template-columns: 1fr auto 40% 40%;
    grid-template-rows: 20rem 10rem 10rem;
    width: 100vw;
    overflow-x: scroll;
  }
}

.steps__name {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (--only-medium-screen) {
    grid-row: 1 / span 3;
    justify-content: space-between;
  }

  @media (--only-large-screen) {
    grid-column: 1;
    grid-row: 1 / span 2;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
    top: 5rem;
  }
}

.steps__title {
  transform: rotate(-90deg);
  width: max-content;
  margin: 0;
  position: relative;
  right: 3rem;

  @media (--only-small-screen) {
    font-size: var(--sizeSubtitle);
    position: relative;
    right: 5rem;
  }

  @media (--only-medium-screen) {
    right: unset;
    transform: rotate(0deg);
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  @media (--only-big-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
    top: -8rem;
  }
}

.steps__icons {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (--only-medium-screen) {
    grid-row: 2;
    grid-column: 1 / span 2;
    flex-direction: row;
    padding: var(--marginSmall) 0;
  }

  @media (--only-large-screen) {
    grid-column: 1;
    grid-row: 3;
  }
}

.steps__img {
  grid-column: 3;

  @media (--only-medium-screen) {
    grid-row: 1 / span 3;
  }

  @media (--only-large-screen) {
    grid-row: 1 / span 2;
    padding-right: cacl(var(--marginLarge) * 2);
  }
}

.step__img {
  @media (--only-big-screen) {
    position: relative;
    left: 15rem;
  }
}

.steps__instructions {
  grid-column: 1 / span 3;
  margin-bottom: var(--marginLarge);
  margin-top: 0;

  @media (--only-big-screen) {
    grid-column: 2 / span 3;
  }

  @media (--only-large-screen) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}

.steps__question {
  grid-column: 1 / span 3;
  margin-top: 0;

  @media (--only-large-screen) {
    grid-column: 5;
    grid-row: 1;
    width: 30vw;
    align-items: end;
  }
}

/* BETWEEN */

.steps__between {
  display: grid;
  grid-template-columns: 15% 20% 1fr;
  grid-template-rows: 10% 5rem auto;

  @media (--only-large-screen) {
    grid-template-columns: 20rem 20rem 15rem 40rem 30rem 40rem 30rem 40rem 30rem auto;
    grid-template-rows: 20rem 10rem 5rem;
    grid-gap: 5rem;
    width: max-content;
    overflow-x: scroll;
  }
}

.title__between {
  transform: rotate(-90deg);
  font-size: var(--sizeMobile);
  width: max-content;
  margin: 0;
  position: relative;
  right: 7rem;
  top: 7rem;

  @media (--only-small-screen) {
    position: relative;
    right: 8rem;
  }

  @media (--only-medium-screen) {
    right: unset;
    transform: rotate(0deg);
  }

  @media (--only-big-screen) {
    font-size: calc(var(--sizeSubtitle) * 2);
  }

  @media (--only-large-screen) {
    top: -5rem;
  }
}

.name__between {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--only-medium-screen) {
    grid-row: 1;
    grid-column: 1 / span 3;
    flex-direction: row;
  }

  @media (--only-large-screen) {
    grid-row: 1 / span 2;
    flex-direction: column-reverse;
  }
}

.number__between {
  position: relative;
  top: 7rem;

  @media (--only-medium-screen) {
    top: unset;
  }

  @media (--only-large-screen) {
    top: 5rem;
  }
}

.icons__between {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (--only-medium-screen) {
    flex-direction: row;
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  @media (--only-large-screen) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}

.tut__between {
  position: relative;
  left: 3rem;

  @media (--only-medium-screen) {
    left: unset;
  }
}

.fase-a {
  grid-row: 3;
  grid-column: 2 / span 3;
  margin-bottom: var(--marginLarge);

  @media (--only-medium-screen) {
    margin-top: var(--marginLarge);
  }

  @media (--only-large-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 1 / span 3;
    grid-column: 4;
  }
}

.instructtions__fase-a {
  grid-row: 1 / span 3;
  grid-column: 5;
}

.fase-b {
  grid-row: 4;
  grid-column: 2 / span 3;
  margin-bottom: var(--marginLarge);

  @media (--only-medium-screen) {
    margin-top: var(--marginLarge);
  }

  @media (--only-large-screen) {
    display: flex;
    flex-direction: row;
    grid-row: 1 / span 3;
    grid-column: 6;
    overflow: visible;
  }
}

.fase-c {
  grid-row: 5;
  grid-column: 2 / span 3;
  margin-bottom: var(--marginLarge);

  @media (--only-medium-screen) {
    margin-top: var(--marginLarge);
  }

  @media (--only-large-screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 1 / span 3;
    grid-column: 7;
  }
}

.instructions__fase {
  margin-top: 0;
}

.img__between {
  width: 100%;
  height: auto;
}
