:root {
  /* Colors */
  --colorGray: #e5e6e3;
  --colorBlack: black;
  --colorYellow: #ffcb0a;
  --colorPurple: #73006c;
  --colorRed: #ff360a;
  --colorDark: #242759;

  /* Margins */
  --marginSmall: 1.25rem; /* 20px */
  --marginRegular: 2.2rem; /* 35px */
  --marginLarge: 3.1rem; /* 50px */

  /* Fonts */
  --sizeBody: 2.5rem; /*25 pt*/
  --sizeSubtitle: 4rem;
  --sizeTitle: 15rem;
  --fontBig: 'HavreBlack';
  --fontTitle: 'HavreBold';
  --fontBody: 'SofiaLight';
  --fontHighlight: 'SofiaUltra';
}

@custom-media --only-small-screen (width >= 450px);
@custom-media --only-medium-screen (width >= 600px);
@custom-media --only-big-screen (width >= 750px);
