:root {
  /* Colors */
  --colorGray: #e5e6e3;
  --colorBlack: black;
  --colorYellow: #ffcb0a;
  --colorPurple: #73006c;
  --colorRed: #ff360a;
  --colorDark: #242759;

  /* Margins */
  --marginSmall: 1.25rem; /* 20px */
  --marginMobile: 2.2rem; /* 35px */
  --marginRegular: 3.1rem; /* 50pt */
  --marginLarge: 5.8rem; /* 70pt */

  /* Sizes */
  --sizeBody: 1.5rem; /* 25 pt */
  --sizePromo: 2.5rem; /* 30pt */
  --sizeCta: 2.9rem; /* 35pt */
  --sizeMobile: 3.3rem; /* 40pt */
  --sizeSubtitle: 4.1rem; /* 50pt */
  --sizeTitle: 12.5rem; /* 150pt */

  /* Fonts */
  --fontSofia: sofia-pro, sans-serif;
  --fontHavre: le-havre, sans-serif;
  --fontShaded: rig-shaded-bold-extrude, sans-serif;
  --weightHighlight: 100;
  --weightBody: 300;
  --weightCta: 500;
  --weightBold: 700;
  --weightBlack: 900;
  --styleNormal: normal;
}

@custom-media --only-small-screen (width >= 450px);
@custom-media --only-medium-screen (width >= 600px);
@custom-media --only-big-screen (width >= 750px);
@custom-media --only-large-screen (width >= 960px);
